@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Outfit", sans-serif;
}

:root {
  --color-primary: #00aff5;
  --color-primary-light: #e7f7fe;
  --color-white: #ffffff;
  --color-grey-light: #fbfbfb;
  --color-grey-mid: #dddddd;
  --color-grey-dark: #9b9b9b;
  --color-text-dark: #000000;
}

/* Global Styles */
.btn {
  width: 24rem;
  text-align: center;
  padding: 1rem 0;
  font-size: 1.8rem;
  text-decoration: none;
  border-radius: 1rem;
  transition: all 0.2s;
  border: none;
  cursor: pointer;
}

/* NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  padding: 1.6rem 2.4rem;
}

.navbar img {
  height: 3.6rem;
}

/* HOME PAGE */
.homepage {
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 4.6rem;
  align-items: center;
  min-height: fit-content;
  padding: 6rem 4rem;
  position: relative;
  overflow: hidden;
}

.homepage h1 {
  text-align: center;
}

.homeBtns {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  align-items: center;
}

.btnLogin {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btnSignup {
  background-color: var(--color-grey-mid);
  color: var(--color-text-dark);
}

.btnLogin:hover,
.btnSignup:hover {
  opacity: 0.8;
  box-shadow: 0 0 0.4rem var(--color-grey-dark);
}

.carImg {
  height: 100%;
  position: absolute;
  bottom: -10rem;
  right: -30rem;
  z-index: -1;
}

/* SIGN UP */

.signUp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 4rem 12rem;
  height: 100vb;
  place-items: center;
  background-color: var(--color-primary-light);
}

.signUpContent {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
  text-align: center;
}

/* SIGN UP - FORM */

.signUpForm {
  width: 35rem;
  height: 45rem;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.8rem 4.2rem;
  border-radius: 1rem;
  position: relative;
}

.signUpForm div {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.signUpForm div label {
  font-size: 1.5rem;
}

.signUpForm div input {
  font-size: 1.5rem;
  border: none;
  background-color: var(--color-grey-light);
  padding: 0.8rem 1.6rem;
  color: #9c9c9c;
}

.signUpForm div input:focus {
  outline: none;
}

.signUpForm div select {
  font-size: 1.5rem;
  border: none;
  background-color: var(--color-grey-light);
  padding: 0.6rem 1rem;
}

.btnReset {
  align-self: self-start;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
}

.btnSignupForm {
  border: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-primary);
  padding: 1.2rem 0;
  font-size: 1.6rem;
  color: var(--color-white);
  cursor: pointer;
  transition: all 0.2s;
}

.btnSignUpForm:hover {
  opacity: 0.8;
}

/* LOGIN */
.login {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 4rem 12rem;
  height: 100vb;
  background-color: var(--color-primary-light);
  place-items: center;
}

.loginContent {
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
  text-align: center;
}

/* LOGIN - FORM */
.loginForm {
  width: 35rem;
  height: max-content;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.8rem 4.2rem;
  padding-bottom: 8rem;
  border-radius: 1rem;
  position: relative;
}

.loginForm div {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.loginForm div label {
  font-size: 1.5rem;
}

.loginForm div input {
  font-size: 1.5rem;
  border: none;
  background-color: var(--color-grey-light);
  padding: 0.8rem 1.6rem;
  color: var(--color-grey-dark);
}

.loginForm div input:focus {
  outline: none;
}

.loginForm div select {
  font-size: 1.5rem;
  border: none;
  background-color: var(--color-grey-light);
  padding: 0.6rem 1rem;
}

.btnReset {
  align-self: self-start;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
}

.btnLoginForm {
  border: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-primary);
  padding: 1.2rem 0;
  font-size: 1.6rem;
  color: var(--color-white);
  cursor: pointer;
  transition: all 0.2s;
}

.btnLoginForm:hover {
  opacity: 0.8;
}

/* searchRides CSS */

/* ride nav */
.ridesNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 12.6rem;
  color: var(--color-primary);
  font-size: 1.6rem;
  font-weight: 600;
}

.ridesNav img {
  height: 3.8rem;
}

.ridesNav .navContent {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.ridesNav .navContent a {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.ridesNav .navContent a img {
  height: 2.8rem;
}

.ridesNav .navContent p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.ridesNav .navContent p img {
  height: 3.6rem;
}

/* ride search */
.searchRide {
  height: 32rem;
  background: url("/images/svgs/rides.svg");
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 4rem;
  padding-bottom: 2.8rem;
  align-items: center;
}

.searchRide h1 {
  font-size: 4.8rem;
  color: var(--color-white);
}

.searchRide .searchRideForm {
  display: flex;
  gap: 0.1rem;
}

.searchRide .searchRideForm input,
.searchRide .searchRideForm button {
  font-size: 1.8rem;
  color: var(--color-grey-dark);
}

.searchRide .searchRideForm select {
  font-size: 1.8rem;
  width: 97%;
  color: var(--color-grey-dark);
}

.searchRideForm input:first-child {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.searchRideForm button {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.searchRide .searchRideForm input,
.searchRide .searchRideForm select {
  border: none;
  padding: 1.2rem 2rem;
}

.searchRide .searchRideForm input:focus,
select:focus {
  outline: none;
}

.searchRide .searchRideForm button {
  border: none;
  padding: 1.2rem 4.8rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: 550;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1250px) {
  .signUpContent img {
    display: none;
  }

  .signUp {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 4rem;
    padding: 2rem;
  }

  .loginContent img {
    display: none;
  }

  .login {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 4rem;
    padding: 2rem;
  }
}

@media screen and (max-width: 1100px) {
  .ridesNav {
    padding: 1.2rem 4rem;
  }

  .searchRide {
    padding: 4rem;
    gap: 12rem;
  }

  .searchRide .searchRideForm {
    width: 79%;
    flex-direction: column;
    gap: 0;
    padding: 2rem;
    background-color: var(--color-white);
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--color-grey-dark);
  }

  .searchRideForm input:first-child,
  .searchRideForm button {
    border-radius: 2rem;
  }

  .searchRideForm input,
  .searchRideForm select {
    border-radius: 2rem;
  }
}

@media screen and (max-width: 720px) {
  .carImg {
    height: 60%;
    right: -18rem;
    bottom: -4rem;
  }

  .signUpForm {
    width: 30rem;
    padding: 2.8rem 3.2rem;
  }

  .loginForm {
    width: 30rem;
    padding: 2.8rem 3.2rem;
  }

  .ridesNav {
    padding: 1rem 2.4rem;
  }

  .ridesNav .navContent p {
    display: none;
  }

  .searchRide {
    padding: 4rem;
    gap: 6rem;
  }

  .searchRide h1 {
    font-size: 3.6rem;
  }

  .searchRide .searchRideForm {
    width: 100%;
  }

  .searchRide .searchRideForm select {
    width: 95%;
  }
}

@media screen and (max-width: 570px) {
  .searchRide {
    gap: 4rem;
    background-repeat: no-repeat;
  }

  .searchRide h1 {
    font-size: 2rem;
  }

  .searchRide .searchRideForm select {
    width: 92%;
  }
}
